
p {
    margin: 0 auto;
}

/* margin: top right bottom left; */

.content {
    position: absolute;
    height: 92%;
    width: 100%;
    top: 8%;
    overflow: hidden;
}

/* start of sides structuring */

.sides {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    
    transform: translateY(-50%);
    border: 0;
}

.s1 {
    left: 0;
    /* border-right: 1px solid black; */
    background-color: #cae5ff;
}

.s2 {
    right: 0;
    border-left: 1px solid black;
}

/* end of sides structuring */

/* start of genealogy structure */

.struc1, .struc2 {
    position: relative;
    width: 40%;
    margin: 5%;
}

.struc1 {
    height: 15%;
}

.struc2 {
    position: absolute;
    height: 48%;
    right: 0;
    top: 40%;
    
    transform: translateY(-50%);
}

/* end of invisible structure
start of gen-parents & gen-children */

.gen-parent, .gen-child {
    text-decoration: none;
    display: block;
    border: 1px solid black;
    position: absolute;
    width: 150px;
    height: 36px;
}

.dad {
    top: 0;
}

.mom {
    bottom: 0;
}

.gen-child {
    right: 0;
    top: 50%;
    
    transform: translateY(-50%);
}



.black-text:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.black-text {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.gen2 {
    height: 36px;
}

/* .mom2 {
    margin-bottom: 10%;
} */

.mich {
    margin-bottom: 2%;
}

.s2-h2 {
    width: 100%;
    background-color: #c60;
    color: #9cf;
    border-left: 1px solid black;
    margin: 0;
    padding: 15px;
}


